* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    position: relative;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    padding-top: 2.5em;

}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-content h1 {
    font-size: 2rem;
}
.header-content p {
    font-size: 1rem;
}
.movie-details h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

.ratings{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.65rem;
}



.input-div {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    position: relative;
    top: 14px;
    left: 5px;

}

input {
    width: 60%;
    border-radius: 0.5em 0 0 0.5em;
    border: solid grey 1px;
    padding-left: 10%;

}

.input-wrapper {
    width: 70%;
    border-radius: 0.5em 0 0 0.5em;
    border: solid grey 1px;
    padding-left: 10%;
    position: relative;
    display: flex;
    justify-content: space-around;
}
button {
    padding: 0.5em 0;
    border-bottom: solid grey 1px;
    border-right: solid grey 1px;
    border-top: solid grey 1px;
    border-left: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: grey;
    width: 30%;
    margin-right: 15px;
}

.main-container {
    padding: 4em 0.75em 0 0.75em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}

.hidden {
    display: none;
}

.img-div {
    width: 100px;
    height: 180px;
    flex-shrink: 0;

}

.img-div img{

    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    
}

.movieInfo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 0.75em;
}

.watchlist-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-size: 0.85rem;
}

.plus-sign, .minus-sign  {
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.plus-sign:hover, .minus-sign:hover, .my-watchlist:hover{
    cursor: pointer;
    color: grey;
}


.movie-details {
    flex: 1;
    min-width: 0;
}


.movie-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.movie-box {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    width: 100%;
    max-width: 600px;
}

.fa-search {
    position: absolute;
    top: 8px;
    left: 25px;
    color: grey;
}

.star {
    color: goldenrod;
    padding-left: 0.5em;
}

.movie-info {
    font-size: 0.85rem;
}

.line-below {
    border: solid rgba(128, 128, 128, 0.308) 1px;
    width: 100%;
    margin: 1em 0 1em;


}

.preview {
    margin-top: 50%;
    font-size: 1.5rem;
    color: rgb(202, 202, 202);
}


@media(max-width: 400px) {
    .movieInfo-container{
        flex-direction: column;
        align-items: start;
    }

    .watchlist-div {
        align-self: end;
    }

    .movie-description {
        font-size: 0.75rem;
    }
}

@media(min-width: 700px)  {
    .line-below {
        display: none;
    }

    .main-container {
        flex-wrap: wrap;
    }

    .main-container h2 {
        font-size: 2rem;
    }

    .movie-box {
        margin-bottom: 3em;
    }
    .fa-search {
        top: 20px;
        left: 50px;
        font-size: 2rem;
    }

    .input-div input {
        padding: 0.5em 0 0.5em 2em;
        font-size: 2rem;
    }

    button {
        font-size: 2rem;
    }

    .header-content h1 {
        font-size: 4rem;
    }

    .header-content .my-watchlist {
        font-size: 1.75rem;
    }

    .movie-description {
        font-size: 1.25rem;
    }

    .img-div {
        min-width: 150px;
        min-height: 280px;
    }
    .movie-details {
        margin-right: 1em;
    }

    .watchlist-div p, .minus-sign, .movie-info{
        font-size: 1.15rem;
    }


}

@media(min-width: 1000px){
    .fa-search {
      
        left: 60px;
      
    }

    
    .watchlist-div p, .minus-sign, .movie-info{
        font-size: 1.15rem;
    }

}

@media(min-width: 1200px){
    .fa-search {
      
        left: 75px;
      
    }
}

@media(min-width: 1900px){
    .fa-search {
      
        left: 120px;
      
    }

    .input-div input {
        padding: 0.5em 0 0.5em 3em;
        font-size: 2rem;
    }

    .movieInfo-container p {
        font-size: 1rem;
    }

    .movie-description {
        font-size: 1.25rem;
    }

    .img-div {
        min-width: 150px;
        min-height: 280px;
    }
    .movie-details {
        margin-right: 1em;
    }

}