* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    position: relative;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    padding-top: 2.5em;

}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-content h1 {
    font-size: 2rem;
}
.header-content p {
    font-size: 1rem;
}
.movie-details h2 {
    font-size: 1.25rem;
}

.movie-details h2 span{
    font-size: 1rem;
    padding-left: 2rem;
}



.input-div {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    position: relative;
    top: 14px;
    left: 5px;

}

input {
    width: 60%;
    border-radius: 0.5em 0 0 0.5em;
    border: solid grey 1px;
    padding-left: 10%;

}

.input-wrapper {
    width: 70%;
    border-radius: 0.5em 0 0 0.5em;
    border: solid grey 1px;
    padding-left: 10%;
    position: relative;
    display: flex;
    justify-content: space-around;
}
button {
    padding: 0.5em 0;
    border-bottom: solid grey 1px;
    border-right: solid grey 1px;
    border-top: solid grey 1px;
    border-left: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: grey;
    width: 30%;
    margin-right: 15px;
}

.main-container {
    padding: 4em 0.75em 0 0.75em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}

.hidden {
    display: none;
}

img {
    width: 90px;
    height: 160px;
}

.movieInfo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.watchlist-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.plus-sign  {
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.movie-details {
    width: 70%;
    margin: auto;
}

p {
    font-size: 0.75rem;
}

.movie-description {
    margin-top: 1em;
}

.movie-box {
    display: flex;
    max-width: 500px;
    width: 100%;
    gap: 1em;
}

.fa-search {
    position: absolute;
    top: 8px;
    left: 25px;
    color: grey;
}





